*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*padding and border are included in the width and height*/
}

body {
    background: linear-gradient(to top left, #28b487, #7dd56f);
    height: 100vh; /*100% of viewport*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }  

.modal-visible{
      background-color: white;
      padding: 1rem 2rem;
      border-radius: 2rem;
      border: none;
      font-size: 1.2rem;
      font-weight: 600;
      margin: 3rem 1rem;
      cursor: pointer;
}